:root {
            
            --accent-color: #ffc107; 
              --feature-bg: #ffffff;
               --main-color: #007b8f;
    --muted: #6b7280;
    --green:#157347;
    --employee-color: #34495e;
        }
